.App {
  text-align: center;
  margin: auto;
  display: block;
  width: 400px;
}

form {
  display: block;
}

form button {
  display: block;
  margin: 10px auto;
}

.form-group {
  margin: 5px auto;
}