
[submodule "Pursuit-Core-NW-Web"]
	path = Pursuit-Core-NW-Web
	url = https://github.com/joinpursuit/Pursuit-Core-NW-Web.git
[submodule "fundamentals/git_and_github/PCNWLab-Github"]
	path = fundamentals/git_and_github/PCNWLab-Github
	url = https://github.com/joinpursuit/PCNWLab-Github.git
[submodule "fundamentals/variables/pset"]
	path = fundamentals/variables/pset
	url = https://github.com/joinpursuit/PCNWLab-Variables.git
[submodule "fundamentals/functions/pset"]
	path = fundamentals/functions/pset
	url = https://github.com/joinpursuit/PCNWLab-Functions_and_Scope.git
[submodule "fundamentals/conditionals/pset"]
	path = fundamentals/conditionals/pset
	url = https://github.com/joinpursuit/PCNWLab-Conditionals.git
[submodule "fundamentals/strings/pset"]
	path = fundamentals/strings/pset
	url = https://github.com/joinpursuit/PCNWLab-Strings.git
[submodule "fundamentals/arrays/pset"]
	path = fundamentals/arrays/pset
	url = https://github.com/joinpursuit/PCNWLab-Arrays.git
[submodule "fundamentals/loops/pset"]
	path = fundamentals/loops/pset
	url = https://github.com/joinpursuit/PCNWLab-Loops.git
[submodule "fundamentals/array_methods/pset"]
	path = fundamentals/array_methods/pset
	url = https://github.com/joinpursuit/PCNWLab-Loops.git
[submodule "fundamentals/objects/pset"]
	path = fundamentals/objects/pset
	url = https://github.com/joinpursuit/PCNWLab-Object-Literals.git
[submodule "fundamentals/classes/pset"]
	path = fundamentals/classes/pset
	url = https://github.com/joinpursuit/PCNWLab-Classes.git
[submodule "html_css_dom/html_tables_forms/lab"]
	path = html_css_dom/html_tables_forms/lab
	url = https://github.com/joinpursuit/cookie-recipe-starter.git
[submodule "html_css_dom/html_tables_forms/lab_2"]
	path = html_css_dom/html_tables_forms/lab_2
	url = https://github.com/joinpursuit/PCNWLab_batman_profile.git
[submodule "html_css_dom/css_intro/pset"]
	path = html_css_dom/css_intro/pset
	url = https://github.com/joinpursuit/RelativePathsReview.git
[submodule "html_css_dom/css_selectors/pset"]
	path = html_css_dom/css_selectors/pset
	url = https://github.com/joinpursuit/CSSSelectorsReview.git
[submodule "html_css_dom/css_box_model/pset"]
	path = html_css_dom/css_box_model/pset
	url = https://github.com/joinpursuit/basicLayoutsReview.git
[submodule "html_css_dom/css_reset/lab"]
	path = html_css_dom/css_reset/lab
	url = https://github.com/joinpursuit/WendyBite_BEM.git
[submodule "html_css_dom/css_review/pset"]
	path = html_css_dom/css_review/pset
	url = https://github.com/joinpursuit/layoutPractice.git
[submodule "html_css_dom/css_review/lab_2"]
	path = html_css_dom/css_review/lab_2
	url = https://github.com/joinpursuit/FEWD_Developer_Matchmaker.git
[submodule "html_css_dom/dom_2/pset"]
	path = html_css_dom/dom_2/pset
	url = https://github.com/joinpursuit/PCNWDOM-Intro.git
[submodule "html_css_dom/events_2/pset"]
	path = html_css_dom/events_2/pset
	url = https://github.com/joinpursuit/UI_PSETS.git
[submodule "html_css_dom/event_loop/pset"]
	path = html_css_dom/event_loop/pset
	url = https://github.com/joinpursuit/UIReview.git
[submodule "html_css_dom/promises/pset"]
	path = html_css_dom/promises/pset
	url = https://github.com/joinpursuit/PCNWLab-Promises.git
[submodule "html_css_dom/async_and_await/lab"]
	path = html_css_dom/async_and_await/lab
	url = https://github.com/joinpursuit/gifSearchEngine.git
[submodule "node/intro/pset"]
	path = node/intro/pset
	url = https://github.com/joinpursuit/NodeJS-Intro-PSET.git
[submodule "node/express/pset"]
	path = node/express/pset
	url = https://github.com/joinpursuit/Express-Intro-PSET.git
[submodule "fundamentals/the_command_line/pset"]
	path = fundamentals/the_command_line/pset
	url = https://github.com/joinpursuit/PCNWLab-Command-Line.git
[submodule "fundamentals/values_types_operators/pset"]
	path = fundamentals/values_types_operators/pset
	url = https://github.com/joinpursuit/PCNWLab-Types.git
[submodule "html_css_dom/axios/pset"]
	path = html_css_dom/axios/pset
	url = https://github.com/joinpursuit/PCNW-Promises-Axios.git
[submodule "node/express/pset_middleware"]
	path = node/express/pset_middleware
	url = https://github.com/joinpursuit/Middleware-Simple-Auth.git
[submodule "react/props_and_component_structure/lab"]
	path = react/props_and_component_structure/lab
	url = https://github.com/joinpursuit/Donation-React-App.git
[submodule "react/lifecycle_methods/lab"]
	path = react/lifecycle_methods/lab
	url = https://github.com/joinpursuit/PCNW-U4-Lab1.git
[submodule "react/forms_3/lab"]
	path = react/forms_3/lab
	url = https://github.com/joinpursuit/PCNW-U4-Lab2.git
[submodule "react_2/firebase/lab_1"]
	path = react_2/firebase/lab_1
	url = https://github.com/joinpursuit/React-Image-Feed-Uploader-w-Firebase.git
[submodule "react_2/firebase/lab_2"]
	path = react_2/firebase/lab_2
	url = https://github.com/joinpursuit/React-Auth-W-Firebase.git
[submodule "react_2/user_authentication_frontend/lab"]
	path = react_2/user_authentication_frontend/lab
	url = https://github.com/joinpursuit/React-Auth-w-Context.git
[submodule "fundamentals/values_types_operators/pset_2"]
	path = fundamentals/values_types_operators/pset_2
	url = https://github.com/joinpursuit/values_types_operators_assignment.git
[submodule "fundamentals/variables/pset_2"]
	path = fundamentals/variables/pset_2
	url = https://github.com/joinpursuit/variable_assignment.git
[submodule "fundamentals/conditionals/pset_2"]
	path = fundamentals/conditionals/pset_2
	url = https://github.com/joinpursuit/conditional_assignment.git
[submodule "fundamentals/loops/pset_2"]
	path = fundamentals/loops/pset_2
	url = https://github.com/joinpursuit/loops_assignment.git
[submodule "fundamentals/strings/pset_2"]
	path = fundamentals/strings/pset_2
	url = https://github.com/joinpursuit/string_assignment/
[submodule "fundamentals/arrays/pset_2"]
	path = fundamentals/arrays/pset_2
	url = https://github.com/joinpursuit/arrays_and_object_assignment.git
[submodule "fundamentals/functions/pset_2"]
	path = fundamentals/functions/pset_2
	url = https://github.com/joinpursuit/functions_and_scope_assignment.git
[submodule "fundamentals/function_arguments_and_closures/pset"]
	path = fundamentals/function_arguments_and_closures/pset
	url = https://github.com/joinpursuit/arguments_and_closure_assignment.git
[submodule "fundamentals/array_methods/pset_2"]
	path = fundamentals/array_methods/pset_2
	url = https://github.com/joinpursuit/array_methods_assignment.git
[submodule "fundamentals/practice_assessment"]
	path = fundamentals/practice_assessment
	url = https://github.com/joinpursuit/Web_Unit1_mid_exam.git
[submodule "fundamentals/callbacks/pset_2"]
	path = fundamentals/callbacks/pset_2
	url = https://github.com/joinpursuit/callback_assignment.git
[submodule "fundamentals/callbacks/lab"]
	path = fundamentals/callbacks/lab
	url = https://github.com/joinpursuit/timers_assignment.git
[submodule "fundamentals/constructor_functions/pset"]
	path = fundamentals/constructor_functions/pset
	url = https://github.com/joinpursuit/constructor_assignment.git
[submodule "fundamentals/classes/pset_2"]
	path = fundamentals/classes/pset_2
	url = https://github.com/joinpursuit/classes_assignment.git
[submodule "html_css_dom/html_paragraph_and_headings/pset"]
	path = html_css_dom/html_paragraph_and_headings/pset
	url = https://github.com/joinpursuit/paragraph_and_heading_exercises.git
[submodule "html_css_dom/html_lists_links_imgs/pset"]
	path = html_css_dom/html_lists_links_imgs/pset
	url = https://github.com/joinpursuit/links_lists_images_exercise.git
[submodule "html_css_dom/html_tables_forms/pset"]
	path = html_css_dom/html_tables_forms/pset
	url = https://github.com/joinpursuit/tables_exercise.git
[submodule "html_css_dom/html_tables_forms/pset_2"]
	path = html_css_dom/html_tables_forms/pset_2
	url = https://github.com/joinpursuit/form_exercise.git
[submodule "html_css_dom/css_intro/pset_2"]
	path = html_css_dom/css_intro/pset_2
	url = https://github.com/joinpursuit/css_intro_exercises.git
[submodule "html_css_dom/css_box_model/pset_2"]
	path = html_css_dom/css_box_model/pset_2
	url = https://github.com/joinpursuit/css_box_model_exercise.git
[submodule "html_css_dom/css_selectors/pset_2"]
	path = html_css_dom/css_selectors/pset_2
	url = https://github.com/joinpursuit/css_selector_exercise.git
[submodule "html_css_dom/css_flexbox/pset"]
	path = html_css_dom/css_flexbox/pset
	url = https://github.com/joinpursuit/css_flexbox_exercise.git
[submodule "html_css_dom/css_reset/pset"]
	path = html_css_dom/css_reset/pset
	url = https://github.com/joinpursuit/css_reset_exercise.git
[submodule "html_css_dom/css_grid/pset"]
	path = html_css_dom/css_grid/pset
	url = https://github.com/joinpursuit/css_grid_exercise.git
[submodule "html_css_dom/css_display_position_zind/lab"]
	path = html_css_dom/css_display_position_zind/lab
	url = https://github.com/joinpursuit/css_display_exercise.git
[submodule "html_css_dom/dom_1/lab"]
	path = html_css_dom/dom_1/lab
	url = https://github.com/joinpursuit/dom_1_exercise.git
[submodule "html_css_dom/dom_2/lab"]
	path = html_css_dom/dom_2/lab
	url = https://github.com/joinpursuit/dom_2_exercise.git
[submodule "html_css_dom/events_1/lab"]
	path = html_css_dom/events_1/lab
	url = https://github.com/joinpursuit/events_1_exercise.git
[submodule "html_css_dom/events_2/lab"]
	path = html_css_dom/events_2/lab
	url = https://github.com/joinpursuit/events_2_exercise.git
[submodule "html_css_dom/api_intro/lab"]
	path = html_css_dom/api_intro/lab
	url = https://github.com/joinpursuit/API_Intro.git
[submodule "html_css_dom/restful_apis/lab"]
	path = html_css_dom/restful_apis/lab
	url = https://github.com/joinpursuit/restfulapi_exercise.git
[submodule "html_css_dom/promises/lab"]
	path = html_css_dom/promises/lab
	url = https://github.com/joinpursuit/promise_exercise.git
[submodule "html_css_dom/ajax/lab"]
	path = html_css_dom/ajax/lab
	url = https://github.com/joinpursuit/ajax_intro.git
[submodule "html_css_dom/fetch/lab"]
	path = html_css_dom/fetch/lab
	url = https://github.com/joinpursuit/fetch_exercise.git
[submodule "html_css_dom/axios/lab"]
	path = html_css_dom/axios/lab
	url = https://github.com/joinpursuit/axios_assignment.git
