[submodule "fundamentals/the_command_line/PCNWLab-Command-Line"]
	path = fundamentals/the_command_line/PCNWLab-Command-Line
	url = git@github.com:mottaquikarim/PCNWLab-Command-Line.git
[submodule "Pursuit-Core-NW-Web"]
	path = Pursuit-Core-NW-Web
	url = https://github.com/joinpursuit/Pursuit-Core-NW-Web.git
[submodule "fundamentals/git_and_github/PCNWLab-Github"]
	path = fundamentals/git_and_github/PCNWLab-Github
	url = git@github.com:mottaquikarim/PCNWLab-Github.git
[submodule "fundamentals/values_types_operators/PCNWLab-Types"]
	path = fundamentals/values_types_operators/PCNWLab-Types
	url = git@github.com:mottaquikarim/PCNWLab-Types.git
[submodule "fundamentals/variables/PCNWLab-Variables"]
	path = fundamentals/variables/PCNWLab-Variables
	url = git@github.com:mottaquikarim/PCNWLab-Variables.git
[submodule "fundamentals/functions/PCNWLab-Functions_and_Scope"]
	path = fundamentals/functions/PCNWLab-Functions_and_Scope
	url = git@github.com:mottaquikarim/PCNWLab-Functions_and_Scope.git
[submodule "fundamentals/conditionals/PCNWLab-Conditionals"]
	path = fundamentals/conditionals/PCNWLab-Conditionals
	url = git@github.com:mottaquikarim/PCNWLab-Conditionals.git
[submodule "fundamentals/strings/PCNWLab-Strings"]
	path = fundamentals/strings/PCNWLab-Strings
	url = git@github.com:mottaquikarim/PCNWLab-Strings.git
[submodule "fundamentals/arrays/PCNWLab-Arrays"]
	path = fundamentals/arrays/PCNWLab-Arrays
	url = git@github.com:mottaquikarim/PCNWLab-Arrays.git
[submodule "fundamentals/loops/PCNWLab-Loops"]
	path = fundamentals/loops/PCNWLab-Loops
	url = git@github.com:mottaquikarim/PCNWLab-Loops.git
[submodule "fundamentals/array_methods/PCNWLab-Loops"]
	path = fundamentals/array_methods/PCNWLab-Loops
	url = git@github.com:mottaquikarim/PCNWLab-Loops.git
[submodule "fundamentals/objects/PCNWLab-Object-Literals"]
	path = fundamentals/objects/PCNWLab-Object-Literals
	url = git@github.com:mottaquikarim/PCNWLab-Object-Literals.git
[submodule "fundamentals/classes/PCNWLab-Classes"]
	path = fundamentals/classes/PCNWLab-Classes
	url = git@github.com:mmosayed/PCNWLab-Classes.git
[submodule "html_css_dom/html_tables_forms/cookie-recipe-starter"]
	path = html_css_dom/html_tables_forms/cookie-recipe-starter
	url = git@github.com:FEWDMaterials/cookie-recipe-starter.git
[submodule "html_css_dom/html_tables_forms/PCNWLab_batman_profile"]
	path = html_css_dom/html_tables_forms/PCNWLab_batman_profile
	url = git@github.com:mmosayed/PCNWLab_batman_profile.git
[submodule "html_css_dom/css_intro/RelativePathsReview"]
	path = html_css_dom/css_intro/RelativePathsReview
	url = git@github.com:FEWDMaterials/RelativePathsReview.git
[submodule "html_css_dom/css_selectors/CSSSelectorsReview"]
	path = html_css_dom/css_selectors/CSSSelectorsReview
	url = git@github.com:FEWDMaterials/CSSSelectorsReview.git
[submodule "html_css_dom/css_box_model/basicLayoutsReview"]
	path = html_css_dom/css_box_model/basicLayoutsReview
	url = git@github.com:FEWDMaterials/basicLayoutsReview.git
[submodule "html_css_dom/css_reset/WendyBite_BEM"]
	path = html_css_dom/css_reset/WendyBite_BEM
	url = git@github.com:FEWDMaterials/WendyBite_BEM.git
[submodule "html_css_dom/css_review/layoutPractice"]
	path = html_css_dom/css_review/layoutPractice
	url = git@github.com:FEWDMaterials/layoutPractice.git
[submodule "html_css_dom/css_review/FEWD_Developer_Matchmaker"]
	path = html_css_dom/css_review/FEWD_Developer_Matchmaker
	url = git@github.com:FEWDMaterials/FEWD_Developer_Matchmaker.git
[submodule "html_css_dom/dom_2/PCNWDOM-Intro"]
	path = html_css_dom/dom_2/PCNWDOM-Intro
	url = git@github.com:mmosayed/PCNWDOM-Intro.git
[submodule "html_css_dom/events_2/UI_PSETS"]
	path = html_css_dom/events_2/UI_PSETS
	url = git@github.com:FEWDMaterials/UI_PSETS.git
[submodule "html_css_dom/event_loop/UI_PSETS"]
	path = html_css_dom/event_loop/UI_PSETS
	url = git@github.com:FEWDMaterials/UI_PSETS.git
[submodule "html_css_dom/event_loop/UIReview"]
	path = html_css_dom/event_loop/UIReview
	url = git@github.com:FEWDMaterials/UIReview.git
[submodule "html_css_dom/promises/PCNWLab-Promises"]
	path = html_css_dom/promises/PCNWLab-Promises
	url = git@github.com:mottaquikarim/PCNWLab-Promises.git
[submodule "html_css_dom/async_and_await/gifSearchEngine"]
	path = html_css_dom/async_and_await/gifSearchEngine
	url = git@github.com:FEWDMaterials/gifSearchEngine.git
[submodule "node/intro/NodeJS-Intro-PSET"]
	path = node/intro/NodeJS-Intro-PSET
	url = git@github.com:mmosayed/NodeJS-Intro-PSET.git
[submodule "node/express/Express-Intro-PSET"]
	path = node/express/Express-Intro-PSET
	url = git@github.com:mmosayed/Express-Intro-PSET.git
[submodule "html_css_dom/axios/PCNW-Promises-Axios"]
	path = html_css_dom/axios/PCNW-Promises-Axios
	url = git@github.com:mmosayed/PCNW-Promises-Axios.git
[submodule "node/express/Middleware-Simple-Auth"]
	path = node/express/Middleware-Simple-Auth
	url = git@github.com:mmosayed/Middleware-Simple-Auth.git
