.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.red {
  height: 500px;
  background-color: red;
}

.blue {
  height: 500px;
  background-color: blue;
}

.yellow {
  height: 500px;
  background-color: yellow;
}
